NODE_ENV=development
API_PORT=3000
WEB_PORT=5173
VITE_API_BASE_URL=http://localhost:3000
JWT_SECRET=904dc6d1abe4546a06bb7862694d8c525bf63af3f42cd8e631148a5549c1b960
CORS_ORIGIN=http://localhost:5173
JWT_EXPIRES_IN=1h
DATABASE_TYPE=sqlite
DATABASE_PATH=/app/data/dev.sqlite
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=portfolio_password
POSTGRES_DB=portfolio_db
ENABLE_DEVELOPMENT_SEED=true
